html {
  font-size: large;
  margin: 80;
  background-color: rgb(211, 193, 170);
}
.hero {
  margin-top: 100;
}
.hero {
  background-image: url(PXL_20251227_234433858.jpg);
  width: 100%;
  height: 100%;
}
